[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
selenium = "*"
ipython = "*"
pymongo = "*"
simplejson = "*"

[dev-packages]

[requires]
python_version = "3.7"
